@font-face {
    font-family: "melete-regular";
    src: url("/simulator/assets/font/Melete-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Source Han Code JP";
    src: url("/simulator/assets/font/SourceHanCodeJP-Medium.otf") format("opentype");
}

#header h1.logo {
    font-family: "melete-regular";
}

#hero h1 {
    font-family: "melete-regular";
}

#footer div.footer-contact h3 {
    font-family: "melete-regular";
}

input,
select,
textarea {
    font-family: "Source Han Code JP", monospace;
}

input.refining {
    width: 4em;
}

input.skill-lv {
    width: 3em;
}

dialog {
    border: 0px;
}
